
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComprarDados</title>
    <link rel="stylesheet" type="text/css" href="~/Content/estiloDentro.css" />
</head>
<body>
    <div>
        <div class="header">
            <div class="logo"></div>
            <div class="menu-perfil">
                <input type="checkbox" id="chk-perfil">
                <label for="chk-perfil" class="show-menu-btn-perfil">
                    <img src="~/Imagens/perfil.png">
                </label>

                <ul class="lateral">
                    <a href="EditarDadosCli">Editar Dados</a>
                    <a href="LoginCli">Pesquisa</a>
                    <a href="#">Pedidos</a>
                    <a href="Pergunta">Ajuda</a>
                    <a href="Principal">Sair</a>
                </ul>
            </div>
        </div>
        <div class="cc">
            <div class="boxCompra">
                <h1 name="">@ViewBag.Produto.Nome</h1>
                <div class="produto" name="p.Imagem" style="background-image: url(@ViewBag.Produto.Imagem)"></div>
                <h2>@ViewBag.Produto.Descricao</h2>
                <h3>@String.Format("{0:c}", ViewBag.Produto.Preco)</h3>
                <div class="box">
                    <label>Bairro: @ViewBag.Cep.bairro</label>
                    <label>Rua: @ViewBag.Cep.end</label>
                    <label>Cidade: @ViewBag.Cep.cidade</label>
                    <label>Estado: @ViewBag.Cep.uf</label>
                    <form action="EfetuarCompra" method="post">
                        <input type="text" class="complemento" name="complemento" placeholder="Complemento" />
                        <label>Quantidade: </label>
                        <input type="submit" class="btn" style="width: 300px;" value="Finalizar Compra">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
