
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CriarLoginCliente</title>

    <script type="text/javascript" src="~/Script/cadastro.js">
    </script>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("cpf").onkeypress = function () {
                var txt = this.value;
                if (txt.length == 3 || txt.length == 7)
                    this.value += ".";
                else
                    if (txt.length == 11)
                        this.value += "-";
            }
        }
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="../Content/estiloCadastro.css" />
</head>
<body>
    <div class="header">
        <a href="Principal"><div class="logo"></div></a>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-bars"></i>
        </label>

        <ul class="menu">
            <a href="SobreNos">Sobre nós</a>
            <a href="Pergunta">FAQ</a>
            <a href="CadastroLoja">Loja</a>
            <a href="CadastroCliente">Cliente</a>
            <a href="GraficoPareto">Gráfico de Pareto</a>

            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>
        </ul>
    </div>
    <form action="~/Login/CadastroCli" method="post">
        <div class="box-btn" id="box2" runat="server">
            <label ID="Label2" value="Quero me cadastrar: " class="lblCadastrar">Quero me cadastrar:</label>

            <input type="text" ID="txtNomeCliente" name="c.Nome" placeholder="Digite o nome do cliente" class="txtEmpresa" runat="server" maxlength="30">
            @Html.ValidationMessage("c.Nome")
            <input type="text" ID="txtEmailCliente" name="c.Email" placeholder="Digite o e-mail do cliente" class="txtEmpresa" runat="server" maxlength="100">
            @Html.ValidationMessage("c.Email")
            <input type="text" ID="cpf" name="c.Cpf" placeholder="Digite o CPF do cliente" class="txtEmpresa" runat="server" maxlength="14" onblur="TestaCPF()">
            @Html.ValidationMessage("c.Cpf")
            <input type="password" ID="txtSenhaCliente" name="c.Senha" placeholder="Digite a senha do cliente" class="txtEmpresa" runat="server" maxlength="50">
            @Html.ValidationMessage("c.Senha")
            <input type="password" ID="txtSenhaNovCliente" placeholder="Digite a senha novamente do cliente" class="txtEmpresa" runat="server" maxlength="50">
            <!--<asp:Label ID="lblPreferencia" CssClass="lblCliente" runat="server" Visible="false"></asp:Label>
    <asp:TextBox ID="txtDDDCliente" CssClass="txtEmpresa" runat="server" Visible="false"></asp:TextBox>-->
            <input type="text" ID="txtCelularCliente" name="c.Telefone" placeholder="Digite o celular do cliente" class="txtEmpresa" runat="server" maxlength="11">
            @Html.ValidationMessage("c.Telefone")
            <input type="checkbox" ID="chkTermos" class="chkCliente" runat="server" />
            <label ID="lblTermos" class="lblCliente" runat="server"></label>
            <!--<input type="button" ID="btnCadastrarCliente" class="btnCadastrar" value="Cada            strar" runat="server" Visible="false" <!--onclick="Cadastrar(2)"-->
            <input type="submit" value="Cadastrar" class="btnCadastrar" />
        </div>
    </form>
    <footer class="s-mPrincipal">

        <p class="fPetFeed">PetFeed</p>
        <ul class="menuFooterP">
            <li><a href="SobreNos">Sobre nós</a></li>
            <li><a href="Pergunta">Fale conosco</a></li>
        </ul>

        <p class="fDescubra">Descubra</p>
        <ul class="menuFooterD">
            <!--Fazer essa página se der tempo-->
            <li><a href="#">Como pedir</a></li>
            <li><a href="CadastroLoja">Cadastre sua loja</a></li>
            <li><a href="CadastroCliente">Cadastre-se</a></li>
        </ul>
        <a class="icone" href="https://www.facebook.com/petfeed.shoping/?epa=SEARCH_BOX"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/petfeed.shopping/?hl=pt-br" class="icone"><i class="fab fa-instagram"></i></a>

        <a href="#" class="icone"><i class="fab fa-twitter"></i></a>
        <!--
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a> -->

        <section>

        </section>
        <a class="gotopbtn" href="#"><i class="fas fa-arrow-up"></i></a>

        <hr class="hrFooter" />
        <span class="creditosFooter" id="creditos">PetFeed <i class="far fa-copyright"></i>Lorenna Joanna Leal Nunes e Maria Eduarda Elias Rocha. Todos os direitos reservados.</span>
    </footer>
</body>
</html>
