@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FazerPesquisa</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript">
        function Enviar(f) {
            alert(f);
            $("#a").val(f);
            alert($("#a").val());
            $("#enviar").click();
            /*$.ajax({
                url:'Filtrar',
                type: 'POST',
                data: { filtro: f },
                error: function (xhr, status, error) {
                },
                success: function (results) {
                    alert(results);
                }
            });**/

        }
    </script>

    <link rel="stylesheet" type="text/css" href="~/Content/styleDentroCliente1.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<body>

    <div id="header">
        <a href="Principal"><div class="logo"></div></a>
        <div class="menu-perfil">
            <input type="checkbox" id="chk-perfil">
            <label for="chk-perfil" class="show-menu-btn-perfil">
                <img src="~/Imagens/perfil.png">
            </label>

            <ul class="lateral">
                <a href="EditarDadosCli">Editar Dados</a>
                <a href="FazerPesquisa">Pesquisa</a>
                <a href="Pedidos">Pedidos</a>
                <a href="Pergunta">Ajuda</a>
                <a href="Principal">Sair</a>
            </ul>
        </div>

        <div class="search-box">
            <form action="FazerPesquisa" method="post">
                <input class="search-txt" type="text" name="pesquisa" placeholder="Pesquisa" autocomplete="off" />
                <input type="text" id="a" style="visibility: hidden;display: none;" name="b" value="2" />
                <input type="submit" class="search-btn">
            </form>
        </div>
    </div>



    <input type="checkbox" id="chk-filtro">
    <label for="chk-filtro" class="aa">
        <a class="img-filtro"><i class="fas fa-filter fa-2x"></i></a>
    </label>

    <ul id="filtros" name="qualFiltro">
        
        @foreach (var f in ViewBag.Filtro)
        {

            <form class="x" method="post" action="FazerPesquisa" style="display: inline;">
                <input type="text" id="a" style="visibility: hidden; display:none;" name="pesquisa" value="@f.Animal" /><input type="text" id="a" style="visibility: hidden; display: none;" name="b" value="1" />
                <input type="submit" id="enviar" value="@f.Animal   -" style="background: none; border: none; color: white;font-size: 20px;" />
            </form>

        }

    </ul>
    <div class="cc">
        @if (ViewBag.Produto.Count == 0)
        {
            <span class="dd">Nenhum produto encontrado a partir das pesquisas feitas</span>
        }
        else
        { 
            foreach (var p in ViewBag.Produto)
            {

                <div class="boxp">
                    <form method="post" action="Comprar">
                        <div class="produto" style="background-image: url(@p.Imagem)" value="@p.Imagem"></div>
                        <h1 class="nomePro">@p.Nome</h1>

                        <!--<h2>p.Descricao</h2>-->
                        <h2 class="precoPro">@String.Format("{0:c}", p.Preco)</h2>
                        <input type="text" name="po.Nome" value="@p.Nome" style="visibility: hidden; display:none;" />
                        <input type="text" name="po.Imagem" value="@p.Imagem" style="visibility: hidden; display:none;" />
                        <!--<input type="text" name="po.Descricao" value="p.Descricao" style="visibility: hidden; display:none;" />-->
                        <input type="text" name="po.Preco" value="@p.Preco" style="visibility:hidden; display: none" />
                        <input type="submit" class="btn" value="Comprar">

                    </form>
                </div>
            }
        };
    </div>
</body>
</html>
