

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/Content/styleDentroCliente.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="header">
        <div class="logo"></div>
        <div class="menu-perfil">
            <input type="checkbox" id="chk-perfil">
            <label for="chk-perfil" class="show-menu-btn-perfil">
                <img src="~/Imagens/perfil.png">
            </label>

            <ul class="lateral">
                <a href="EditarDadosCli">Editar Dados</a>
                <a href="LoginCli">Pesquisa</a>
                <a href="Pedidos">Pedidos</a>
                <a href="Pergunta">Ajuda</a>
                <a href="Principal">Sair</a>
            </ul>
        </div>
    </div>

    <div class="search-box">
            <form action="FazerPesquisa" method="post">
                <input class="search-txt" type="text" name="pesquisa" placeholder="Type to search" />
                <input type="submit" class="search-btn">
            </form>
    </div>
    <input type="checkbox" id="chk-filtro">
    <label for="chk-filtro" class="aa">
        <a class="img-filtro"><i class="fas fa-filter fa-2x"></i></a>
    </label>

    <ul id="filtros" name="qualFiltro">
        @foreach (var f in ViewBag.Filtro)
        {
            <li class="filtro"><a class="qualFiltro">@f.Animal   <i class="fas fa-times-circle"></i></a></li>
        }
    </ul>
    @foreach (var p in ViewBag.Produto)
    {
    <div class="boxp">
        <form method="post" action="Comprar">
            <h1>@p.Nome</h1>
            <div class="produto" style="background-image: url(@p.Imagem)" value="@p.Imagem"></div>
            <h2>@p.Descricao</h2>
            <h3>@String.Format("{0:c}", p.Preco)</h3>
            <input type="text"  name="po.Nome" value="@p.Nome" style="visibility: hidden;display:none;" />
            <input type="text" name="po.Imagem" value="@p.Imagem" style="visibility: hidden; display:none;" />
            <input type="text" name="po.Descricao" value="@p.Descricao" style="visibility: hidden; display:none;" />
            <input type="text" name="po.Preco" value="@p.Preco" style="visibility: hidden; display:none;" />



            <input type="submit" class="btn-compra" value="Comprar">

        </form>
    </div>
    }
</body>
</html>
